.contenedornav {
    background-color: rgb(62, 0, 121);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.agrupar {
    width: 45%;
    height: 40%;
    border: 0px solid #000000;
    margin: 20px;
    background: #ffffff;
    float: center;
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}





    